# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# Data & Model Output Directories
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
data/augmented/*
!data/augmented/.gitkeep
runs/
*.pt
*.onnx
*.engine

# Virtual Environment
.venv/
venv/
ENV/

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
